<section class="page-title page-title-4 image-bg overlay">
  <div class="background-image-holder fadeIn">
    <%= image_tag("reclamos.jpg") %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="uppercase mb8">Reclamos</h2>
        <p class="lead mb0">Hace tu reclamo de forma</p>
        <p class="lead mb0">rapida y facil</p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="fullscreen" style="height: 575px;">
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="feature text-center">
                    <h1 class="large">Revisa tu reclamo!</h1>
                    <h4 class="large">Numero de reclamo: </h4>
                    <%= form_tag({controller: "my_claim", action: "create"}, method: "post") do %>
                      <div class="form-group">
                        <%= text_field_tag(:claim_code) %>
                      </div>

                      <div class="actions">
                        <%= submit_tag("Aceptar") %>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>