<div class="main-container">
          
      <section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
            <ul class="slides">
                <li class="overlay image-bg">
                    <div class="background-image-holder">
                        <%= image_tag("back.png", class: 'background-image') %>
                    </div>
                    <div class="container v-align-transform">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <h1 class="mb40 mb-xs-16 large">Permanece conectado<br></h1>
                                <h6 class="uppercase mb16">Punto digital yerba buena</h6>
                                <p class="lead mb40">Te invitamos a aprender, divertirte y crecer en comunidad</p>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </li>
            </ul>
        </section>
        <section class="image-bg overlay parallax">
            <div class="background-image-holder">
                <%= image_tag("punto-digital-de-yerba-buena.jpeg", class: 'background-image') %>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="mb16">!El Punto Digital está abierto para vos!</h2>
                        <p class="lead mb64">Te invitamos a conocer las distintas actividades que están disponibles para vos.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-package icon"></i>
                                <h5 class="uppercase">¿Qué es punto digital?</h5>
                            </div>
                            <p>Los Puntos Digitales forman parte de las políticas de inclusión tecnológica desarrolladas por el ministerio de modernización, a través del Plan País Digital, para que vos, tus vecinos y familiares puedan estar cada día mas conectados</p>
                        </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-infinite icon"></i>
                                <h5 class="uppercase">formación continua</h5>
                            </div>
                            <p>Punto Digital tiene como objetivo desarrollar actividades de capacitación tecnológica para todas la edades. Este sector cuenta con computadoras con acceso libre a Internet disponible para la comunidad y una plataforma Online con mas de 200 cursos virtuales&nbsp;</p>
                        </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed">
                            <div class="text-center">
                                <i class="ti-heart icon"></i>
                                <h5 class="uppercase">anses</h5>
                            </div>
                            <p>
                                Contamos con una oficina de ANSES&nbsp; para asistir a los vecinos&nbsp; y guiarlos en los diversos tramites que tienen que realizar</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </section><section class="pb64 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature feature-2 filled text-center">
                            <div class="text-center">
                                <i class="fa fa-tv fa-3x"></i>
                                <h5 class="uppercase">APRENDIZAJE</h5>
                            </div>
                            <p>En el área de aprendizaje se desarrollan actividades de capacitación tecnológica para todas las edades.</p>
                        </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-2 filled text-center">
                            <div class="text-center">
                                <i class="fa fa-video-camera fa-3x"></i>
                                <h5 class="uppercase">CINE</h5>
                            </div>
                            <p>
                                El espacio de Cine se utiliza para compartir grandes eventos comunitarios, como transmisiones deportivas, celebraciones patrias y transmitir actividades culturales en vivo.</p>
                        </div>
                        
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-2 filled text-center">
                            <div class="text-center">
                                <i class="fa fa-gamepad fa-3x"></i>
                                <h5 class="uppercase">ENTRETENIMIENTO</h5>
                            </div>
                            <p>
                                Esta área está equipada con videoconsolas de juego con mandos inalámbricos de última generación, para que grandes y chicos aprendan y se diviertan.</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
    </div>