       <footer class="bg-primary pt96 pb96 pt-xs-48 pb-xs-48">
          <div class="container">
            <div class="row mb64 mb-xs-32">
              <div class="col-md-5 text-right text-left-xs">
                <h2 class="uppercase bold italic">Yerba Buena<br> Tu ciudad<br> tu jardín</h2>
              </div>
              <div class="col-md-2 hidden-sm hidden-xs text-center pt48">
                <%= image_tag("yb.png", class: 'display-block') %>
              </div>
              <div class="col-md-5 col-sm-6">
                <p class="lead">
                  Comunicate con nosotros por los siguientes medios<br class="hidden-sm">
                  Trataremos de contestarte a la brevedad.
                </p>
                <h4 class="mb8">Tel: 3815456789</h4>
                <h4 class="mb8">Email: delegacion@yerbabuena.com</h4>
                <h4 class="mb0"><i class="ti-twitter-alt"></i> @delegacionYb</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <p class="fade-1-4">Wavelabs © 2018
                </p><ul class="list-inline social-list mb0">
                  <li><a href="#"><i class="icon icon-xs ti-twitter-alt"></i></a></li>
                  <li><a href="#"><i class="icon icon-xs ti-facebook"></i></a></li>
                  <li><a href="#"><i class="icon icon-xs ti-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
      </footer>