    <div class="nav-container">    
      <nav>
          <div class="nav-bar">
              <div class="module left">
                <%= link_to root_path do %>
                  <%= image_tag 'logo-light', class: "logo logo-light" %>
                  <%= image_tag 'yerbabuena', class: "logo logo-dark" %>
                <% end %>
              </div>
              <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                  <i class="ti-menu"></i>
              </div>
              <div class="module-group right">
                  <div class="module left">
                      <ul class="menu">
                          <li>
                              <a href="#">Inicio</a>
                          </li>
                          <li>
                              <a href="#">¿Qué es Punto Digital?</a>
                          </li>
                          <li>
                              <a href="#">Areas</a>
                          </li>
                      </ul>
                  </div>
                  
              </div>
              
          </div>
      </nav>
    </div>